<head>
<style type="text/css">
    .main_bg {
      background-repeat:no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
    }
</style>
</head>

<h1>Q Resto</h1>
<body class="main_bg" background="<%= image_url('qresto_bg.jpeg') %>">
  <div class="container">
    <h1 class="display-4">Welcome</h1>
    <h2 class="lead">Food and Feed</h2>
  </div>
</body>
